In [ ]:
""" SQL의 종류
* DQL - 데이터 검색 select
SELECT (distinct 중복항제거) || *(모든) || 컬럼명 as 별칭
FROM 테이블명
WHERE 조건식
ORDER by 컬럼명 (desc || asc)

* DML - 데이터 변경 Insert/Update/Delete
INSERT INTO 테이블명(컬럼명, 컬럼명, ...) values (값, 값, ...)

UPDATE 테이블명 SET 컬럼명=변경값, 컬럼명= 변경값, ... WHERE 조건

DELETE 테이블명 WHERE 조건식
TRUNCATE TALBE 테이블명 #모든 레코드 삭제

* DDL - 데이터 구조정의 Create/ Alter / Drop
CREATE TABLE 테이블이름(
    컬럼명 데이터타입 제약조건들,
    ...
)

ALTER TABLE 테이블명 add ( # 컬럼 추가
    컬럼명 데이터타입 제약조건,
    ...
)
ALTER TABLE 테이블명 drop column 컬럼이름  #컬럼삭제
ALTER TABLE 테이블명 modify 컬럼이름 변경자료형 #자료형 변경
ALTER TABLE 테이블명 rename column 기존컬러명 to 변경컬럼명 #컬럼이름변경

DROP table 테이블명

* DCL - 권한지정 Grant/Revoke
"""

"""
제약조건 종류
1. primary key
2. foreign key  >> CONSTRAINT 제약조건명 REFERENCES 참고테이블명(참고컬럼)
3. unique
4. check
5  default
"""

In [ ]:
""" 연산자
+
-
*
/
mod

>, >=
<, <=
=, !=

any
all
not
is null
in not null


** NVL 함수는 값이 null인 경우 지정값을 출력한다.
NVL("값", "지정값")

** NVL2 함수는 null이 아닌경우 지정값1을  출력하고, null인 경우 지정값2을 출력 한다.
NVL2("값", "지정값1", "지정값2")


** ROWNUM : 검색할 떄 자동 행번호 추가
SELECT ROWNUM, ename, sal
FROM emp;



"""

In [ ]:
""" 집계 함수
sum(컬럼명)
avg(컬럼명)
max(컬럼명)
min(컬럼명)
count(컬럼명) # null 값 제외 레코드수
count(*) #null 값 포함 레코드수
rank(등수) within group (order by 컬럼명)  --> 전체값을 대상으로 각 값의 순위를 구함

* 집계 함수 사용시 GROUP BY
ex) 각 반 별 kor의 총점, 평균, 최대, 최소
SELECT ban, SUM(kor), AVG(kor), MAX(kor), MIN(kor)
FROM sungjuk
GROUP BY ban
"""

In [ ]:
""" 숫자함수
round(숫자, 자리수) # 반올림
ceil(숫자) # 올림 후 정수변환
floor(숫자) # 내림 후 정수변환
mod(숫자, 나눌수) # 나머지
trunc(숫자, 자리수) # 버림

"""


""" 문자열 함수
upper(문자열) # 대문자변환
lower(문자열) # 소문자변환
initcap(문자열) #첫단어 대문자로 변환

length(문자열) #문자열 길이
substr(문자열, 시작, 갯수) #문자열 일부 추출

instr(문자열, 찾을 문자열) #문자열에서 찾을 문자열 첫위치 알려줌

Lpad(문자열, 전체자리수, 특정문자) # 전체자리수에서 공백만큼 특정문자를 왼쪽에 채움
Rpad(..)

Ltrim() 왼쪽공백제거
Rtrim() 오른쪽공백제거

"""

In [1]:
""" 날짜함수
sysdate # 현재 날짜와 시간
month_between(날짜, 날짜) # 두날짜 사이의 개월수
add_month(날짜, 숫자) #날짜에서 숫자만큼 월을 더함
next_day(날짜, 요일) #날짜에서 가장 가까운 요일의 날짜를 구함 ( 1 =일요일, 2 = 월요일)
last_day(날짜) #날짜 달의 마지막 날짜를 구함

"""

""" 형변환 함수
to_char(datetime, format 형식) # 날짜를 format형식으로 변환 YYYY: 년 , MM : 월, mm : 분)

"""

' 날짜함수\nsysdate # 현재 날짜와 시간\nmonth_between(날짜, 날짜) # 두날짜 사이의 개월수\nadd_month(날짜, 숫자) #날짜에서 숫자만큼 월을 더함\nnext_day(날짜, 요일) #날짜에서 가장 가까운 요일의 날짜를 구함 ( 1 =일요일, 2 = 월요일)\nlast_day(날짜) #날짜 달의 마지막 날짜를 구함\n\n'

In [ ]:
""" JOIN
1. 등가 조인 >> 테이블 둘다 존재하는 자료만 조회가능
SELECT 테이블명1.컬럼명, 테이블명2.컬럼명
FROM 테이블1, 테이블2
WHERE 테이블명1.컬럼명 = 테이블명2.컬럼명

2. outer Join >> 기준(column 존재 여부), join되는애(자료 표시여부) // left, right의 기준은 기준 column 이 왼쪽에 표시되는지 오른쪽에 표시되는지
SELECT S.STADIUM_NAME, T.TEAM_NAME
FROM STADIUM S, TEAM T
WHERE S.STADIUM_ID = T.STADIUM_ID(+);


SELECT S.STADIUM_NAME, T.TEAM_NAME
FROM STADIUM A LEFT OUTER JOIN TEAM T
ON S.STADIUM_ID = T.STADIUM_ID(+); 

3. self join : 자기자신을 join 해서 column을 중복해서 표시한다던가 이런것을 할 수 있음.
"""

In [ ]:
""" 뷰
1. 뷰 생성
CREATE VIEW 뷰이름 AS 뷰내용

2. 뷰 수정
CREATE OR REPLACE VIEW 뷰이름 AS 뷰내용

3. 뷰 삭제
DROP VIEW 뷰이름

"""

In [ ]:
""" 시퀀스 (sequence)
1. 시퀀스 생성
CRETE SEQUENCE 시퀀스 이름
[START WITH 시작값]
[INCREMENT BY 증가치]
[MAXVALUE 최대값]
[MINVALUE 최소값]
[cycle | nocycle]
[cache | nocache]

2. 사용방법
시퀸스이름.nextval #시퀀스값 증가
시퀸스이름.currval #현재 시퀸스값 가져오기

3. 삭제
DROP SEQUENCE 시퀸스이름

"""

In [ ]:
""" 트랜잭션(transaction)
1. 세이브 포인트 -부분저장
savepoint 세이브포인트명
>> 부활시킬때는 rollback 세이브포인트명

2. 커밋 - 전체저장
commit;

3. 롤백 - 
rollback; # 전체취소(마지막 commit 직전까지)
"""

In [ ]:
1. sqlplus system/oracle로 접속

2. 락해제
   alter user hr account unlock;  

3. 패스워드 변경
   --alter user <계정이름> identified by <패스워드>;
   alter user hr identified by tiger;

----------------------------------------
4. 계정생성
   -- create user <계정이름> identified by <계정암호> default tablespace users;
      create user scott identified by tiger default tablespace users;

5. 사용자 권한 부여
   -- grant connect, resource to scott;

6. 락 해제
   -- alter user <계정이름> account unlock;
   alter user scott account unlock;

7.  계정 잘못만든 경우 계정 삭제하기 
  --  drop user <계정이름> cascade;
   drop user scott cascade;